.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.flex-stretch {
  flex: 1 0 auto;
}
.mr-8 {
  margin-right: 8px;
}
